<div class="main">
  <div class="banner">
    <ul>
      <li>
        <img src="https://photos-6.dropbox.com/t/2/AADVqi7QQfGpAC5uepAI05_wGq5ioGnUAlFwrt2-F9c2lg/12/97342712/png/32x32/1/_/1/2/bass-music.png/EKOiwksYQiAHKAc/ktcPPbrmrQbRPIj3hfGTflSIYJDlwSLs-7uumERg378?size=1600x1200&size_mode=3">
        <h2>Bass Music</h2>
        <p>Users experience new music and curate their music collection</p>
      </li>
      <li>
        <img src="https://photos-2.dropbox.com/t/2/AABIPznKT8ubvD7HTxvxBWurMnp0IYTlRx9jfqMt3QNbKg/12/97342712/png/32x32/1/_/1/2/bolt-network.png/EKOiwksYQiAHKAc/KNSJIwR8USObIQu6g-RWw0uJH7FbUdYOhaL32rnv4Pk?size=1600x1200&size_mode=3">
      	<h2>Bolt Network</h2>
        <p>App for streaming the latest movies and shows</p>
      </li>
      <li>
        <img src="https://photos-2.dropbox.com/t/2/AAD5qUG2kfS9UexIaP4bWJP1bArUA3Sryz83PDbav_gHww/12/97342712/png/32x32/1/_/1/2/bookmarks.png/EKOiwksYQiAHKAc/Db34jjuAVihXIQoBSVbi4duZUKoOxIK4cVZRnA_azVw?size=1600x1200&size_mode=3">
      	<h2>Bookmarks</h2>
        <p>Track reviews of current bestsellers</p>
      </li>
      <li>
        <img src="https://photos-6.dropbox.com/t/2/AABnn3k2CLdugtxiolhEE1A3C0Bnq6WXNGD0_5wrc71kLA/12/97342712/png/32x32/1/_/1/2/broadway.png/EKOiwksYQiAHKAc/e2404IPVNWuahjSikI15dAhFbahk8oK_SmCpPJSnoRc?size=1600x1200&size_mode=3">
      	<h2>Broadway</h2>
        <p>All of the latest show in New York</p>
      </li>
      <li>
        <img src="https://photos-5.dropbox.com/t/2/AADumUKhNmwq-n36KCMkgj-Jetqzwa5g0Pvt4nbMe3WKig/12/97342712/png/32x32/1/_/1/2/innovation-cloud.png/EKOiwksYQiAHKAc/7rzSOaT5Moe2xuNsccg9b894b0y4HArnzg7jq-MW1L4?size=1600x1200&size_mode=3">
        <h2>Innovation Cloud</h2>
        <p>Collaborate in real time on digital projects</p>
      </li>
      <li>
        <img src="https://photos-1.dropbox.com/t/2/AAC5o2W8jxnYvTEGM9PCkqTasFcIkLNX5TuZXeDmO4KnTg/12/97342712/png/32x32/1/_/1/2/threadly.png/EKOiwksYQiAHKAc/-OM3QU0xk9GJcwpvJdcRlzdqYNzCSmBvBRExoG6Hwdg?size=1600x1200&size_mode=3">
      	<h2>threadly</h2>
        <p>User generated discussion on any topic</p>
      </li>
    </ul>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</div>