<div class="header">
  <div class="nav nav-bar">
    <ul>
      <li>About</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </div>
  <h1>Noel Jensen</h1>
</div>

<div class="main">
  <h2>
    I am a Starbucks barista, itinerant computer programmer, and gardening enthusiast.
  </h2>
  <button class="btn btn-main">View my Work</button>
</div>

<div class="footer">
  <ul>
    <li><a href="#"><img src="http://image.flaticon.com/icons/svg/34/34405.svg"></a></li>
    <li><a href="#"><img src="http://image.flaticon.com/icons/svg/25/25231.svg"></a></li>
    <li><a href="#"><img src="http://image.flaticon.com/icons/svg/8/8800.svg"></a></li>
  </ul>
</div>