<div class="main">
  <h2>
    I am a Starbucks barista, itinerant computer programmer, and gardening enthusiast.
  </h2>
  <button class="btn btn-main"><%= link_to 'View my Work', 'portfolio'%></button>
</div>